<h2>Book#index, Books</h2>
<div>
  <%= form_with url: book_search_path, method: :get, data: {controller: "search", search_target: "from", turbo_frame: "books"} do |form| %>
  <%= form.text_field :query,
    placeholder: "Search books by title",
    autocomplete: "off"
   %>
   <%end%>
</div>
<div>
<%@books.each.with_index do |book, index|%>
  <h3><%= index %></h3>
  <h3><%=  book.title %></h3>
  <p><%= book.description %></p>
<%end%>
</div>