<!DOCTYPE html>
<html>
  <head>
    <title>SearchEngines</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "application" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  </head>

  <body>
  <nav class="nav small-shadow ">
    <ul>
      <li class="title" ><%= link_to 'Books', root_path %></li>
      <li class="title" ><%= link_to 'Trending', search_path %></li>
    </ul>
  </nav>
  <div></div>
    <%= yield %>
  </body>
</html>
